body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0px 50px;
}
.start{
    border-left: 3px solid red;
}
.side{
    color: orange;
}
.first-step{
    width: 50%;
    padding-left: 2%;
    margin-top: 20px;
}
.first-step img{
    width: 35%;
}

.button{
    text-decoration: none;
    background-image: linear-gradient(rgb(255, 115, 0), tomato);
    padding: 10px 40px;
    color:white;
    font-weight: 700;
    border-radius: 5px;
}
.focus{
    display:flex;
}
h2{
    text-align:center;
}
.mission{
    border: 0px solid skyblue;
    border-radius: 50px;
    padding: 40px 50px 40px 50px;
    margin: 10px 10px 2px 40px;
    width: 50%;
}
.mission img{
    width: 30%;
}
#blue{
    background-color: rgb(234, 239, 241);
}
#pink{
    background-color: aliceblue;
}
#gray{
    background-color: azure;
}
#develop{
    border: none;
}
.third img{
    width: 70%;
    
}
.third{
    width: 41%;
    margin-right: -105px;
    margin-top: 2%;
    margin-left: 40px;
}
.third-contain{
    width: 50%;
    margin-right: 10px;
    margin-top: 5%;
}
.global{
    width: 50%;
    padding-left: 4%;
    margin-top: 50px;
}
.global img{
    width: 70%
}
.last img{
    width: 30%;

}
.computer{
    text-align: center;
}
.footer{
    margin: 0;
    padding: 0; 
    text-align: center;
    color: white;
    background-color: black;
}
.footer p{
    color: turquoise;
}
.footer-2022{
    color: tomato;
}
